.image {
	/*border-style:solid;
	border-width:1px;*/
	width:70%;
	height:600px;
	float:right;
	margin-right:24%;
	margin-top:3%;

}
.body .image img {
	border-radius:25px;
}
body{
	
	background-color:#ddd
	
}
