body {
	background-color: #ddd;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;	
}

.wrapper {
	margin: 0 auto;		
	width: 1097px;
}

.content {
	background-color:#FFF;
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	min-height: 875px;
}

.header {
	height:300px;
	background-color:#03C;	
}

h1 {
    background-color:#009;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    margin: 0;
    text-align: center;
}

.navi {
	height:47px;
	background-color:#06F;		
}

.navi ul {		
		margin: 0px auto;
		width:960px;
		list-style:none;
}

.navi ul li {		
		padding-top:3px;
		font-size: 16px;
		font-color:#FFFFFF;
		margin-left: 40px;
		float:left;
}

.navi ul li a {
		display:block;
		margin-right:30px;
		width:140px;
		line-height: 44px;
		text-align: center;
		text-decoration: none;
		color:#fff;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 22px;
}

.navi ul li a:hover {	
		color:#000;
		display:block;
		margin-right:30px;
		width:140px;
		line-height: 44px;
		text-align: center;
		text-decoration: none;	
		background-color:#39F;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 22px;
}

.main {
		width: 960px;
		height: 419px;
		border-radius:10px;
		margin:20px auto 0;	
		background-color:#ddd;
		position: relative;
}
.main-noj, .main-cont {
	width: 960px;
	border-radius:10px;
	margin:20px auto 0;	
	background-color:#ddd;
}

.sliderubi {		
		margin: 30px auto;
		height:300px;
		width: 900px;
		background-color:#F00;
}

footer {
	margin-top:30%;
	width: 100%;
	background: #666;

}

footer div {
	display: table;
	margin: 0 auto;
	padding: 44px 0;
	width: 940px;
	color:#FFF;
}
	
footer div section {
	display: table-cell;
	width: 300px;
}
		
footer div #about, footer div #blogroll {
	padding-right: 20px;
}
		
footer h3 {
	color: #FFF;
}
	
footer a {
	color: #fff;
}
	
footer a:hover {
	color: #FFF;
	text-decoration: none;
}
	
footer ul {
	margin: 0px;
	list-style: none;
	color: #33FF99;
	text-decoration: none;
}
.content footer div #popular header {
	margin-left: 40px;
}	
footer ul li a {
	display: block;
}
footer div #about p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #FFF;
}
.posicion {
	padding-top:10px;
	width: 40px;
}

footer div #popular ul li a {
	text-decoration: none;
	font-size:14px;
	padding-top: 2px;
	margin-top:10px;
	margin-right:40%;
	line-height:30px;
	float:right;
}
.madeby {
	height: 30px;
	line-height: 12px;
	margin: 0px;
	width: 100%;
	text-align: center;
	padding: 0;
	font-size: 12px;
	background-color: #666;

}
.imgdseccion{
	width:180px;
	height:180px;
	margin-left:60px;
	margin-top:60px;
	background-color:#fff;
	border-radius:10px;
	padding-left:15px;
	padding-top:15px;
	position: absolute;
	}	
/*.parrafo {
		width:650px;
		height:300px;
		background-color:#0C3;
		float:right;
		margin-right:5%;
		text-align: justify;	
		
	}*/
.parrafo {
	width: 600px;
	text-align: justify;
	position: relative;
	display: inline-block;
	left: 300px;
	margin-bottom: 20px;
	}

.serv1, .serv2, .serv3{
		width:170px;
		height:170px;
		background-color:#fff;
		margin-top:10%;
		margin-right:12%;
		float:right;
		padding-left:7px;
		padding-top:7px;
		border-radius:10px;	
		box-sizing: border-box;
		position: relative;
	
	}
	
.serv1:hover, .serv2:hover, .serv3:hover {
		width:170px;
		height:170px;
		background-color:#CCC;
		margin-top:10%;
		margin-right:12%;
		float:right;
		padding-left:7px;
		padding-top:7px;
		border-radius:10px;	
		border-style: inset;
    border-width: 5px;
	}

.serv1:hover img, .serv2:hover img, .serv3:hover img {
	width: 150px;
}

.txt-serv1, .txt-serv2, .txt-serv3 {
	display: none;
	position: absolute;
}

.serv1:hover .txt-serv1 {
	display: inline-block;
	top: 175px;
	left: 40px;
}

.serv2:hover .txt-serv2 {
	display: inline-block;
	top: 175px;
	left: 50px;
}

.serv3:hover .txt-serv3 {
	display: inline-block;
	top: 175px;
	left: 40px;
}

.marquee{
		font-size: 18px;
	
	}	



/*  CSS DEL FORMULARIO DE CORREO */

	
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}
.formulario {
    display:block;
    margin:0 auto;
    width:510px;
    color: #333;
    font-family:Arial;
	
}
form {
    margin:0 auto;
    width:400px;
	margin-top:30px;
}
 
input, textarea {
    width:380px;
   /* height:40px;*/
    background:#999;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
	display:block;
	resize:none;
	font-size:14px;

	
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}
.mail {
	padding-bottom: 20px;
}
.mailinfo{
	
	padding-top:15px;
	padding-left:30px;
	height:70px;		
		
	}
.pasos {
	
	width:600px;
	height:600px;
	background-color:#0F6;
	margin-left:18%;
	margin-top:5%;	
	
	}
