body{
	background-color: #ddd;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	
}

.wrapper {	
		/*margin-right:5%;
		margin-left:15%;*/
		margin: 0 auto;		
		/*width:70%;*/
		width: 1100px;
}

.content {
	background-color:#FFF;
	position: absolute;
	height: 100%;
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.header{
		height:300px;
		/*float:right;*/
		background-color:#03C;	
}

.header img {
	max-width: 100%;
}

h1 {
    background-color:#009;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    margin: 0;
    text-align: center;
}

.navi {

	height:47px;
	background-color:#06F;
		
}

.navi ul{
		
		margin: 0px auto;
		width:960px;
		list-style:none;

}

.navi ul li{
		
		padding-top:3px;
		font-size: 16px;
		font-color:#FFFFFF;
		margin-left: 40px;
		float:left;

}

.navi ul li a{

		display:block;
		margin-right:30px;
		width:140px;
		line-height: 44px;
		text-align: center;
		text-decoration: none;
		color:#000000;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 18px;

}

.navi ul li a:hover{
	
		color:#FFFFFF;
		display:block;
		margin-right:30px;
		width:140px;
		line-height: 44px;
		text-align: center;
		text-decoration: none;	
		background-color:#39F;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 18px;


}
.main{
		width: 960px;
/*		height:500px;
*/		height: 415px;
		border-radius:10px;
		margin:20px auto 0;	
		background-color:#ddd;
}

.sliderubi{		
		margin: 30px auto;
		height:300px;
		width: 900px;
		background-color:#F00;
}

footer {
	font-family: 'Source Sans Pro', sans-serif;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 1.5em;
	color: #000;
	text-align: center;
}

.klaha {
	font-size: 3em;
}